services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: lucasrochetin/destiny-raid-companion-frontend:latest
    container_name: destiny-frontend
    ports:
      - "3000:3000"
    restart: unless-stopped
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: lucasrochetin/destiny-raid-companion-backend:latest
    container_name: destiny-backend
    ports:
      - "3002:3002"
    restart: unless-stopped
